body {
    background-color: #2b2b2b;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.container {
    max-width: 300px; /* Réduction de la largeur maximale */
    margin: 20px auto; /* Réduction de la marge extérieure */
    padding: 10px; /* Réduction de l'espacement intérieur */
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container label {
    display: block;
    margin-bottom: 4px; /* Réduction de l'espacement sous les labels */
}

.container input,
.container select,
.container textarea {
    width: 100%;
    padding: 4px; /* Réduction de l'espacement intérieur */
    margin-bottom: 8px; /* Réduction de l'espacement entre les éléments */
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

.container input[type="checkbox"] {
    width: auto;
}

.container select {
    appearance: none;
}

.container input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #218838;
}

.container textarea {
    resize: vertical;
}

.error-message {
    color: #ff5555;
    margin-top: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: #3c3c3c;
    border: 1px solid #555;
    border-radius: 10px;
}

nav ul li:hover {
    transform: scale(1.05);
    border-color: #888;
}

nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    padding: 10px 20px;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #2196F3;
}